@import 'tailwindcss';
@config '../tailwind.config.js';

/* Compatibility layer */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.react-select__control--is-focused {
  border-color: var(--logored) !important;
  box-shadow: 0 0 0 2px var(--logored) !important;
  outline: 1px solid transparent !important;
}

.react-select__option:hover,
.react-select__option:active,
.react-select__option--is-focused,
.react-select__option--is-selected {
  background-color: var(--color-gray-200) !important;
  color: #020303 !important;
  cursor: pointer;
}

.react-select__option--is-focused:not(.react-select__option--is-selected):not(
    :hover
  ) {
  background-color: transparent !important;
}

.react-datepicker__input-container input {
  height: 38px;
}

.react-datepicker__input-container input:focus {
  border-color: var(--logored) !important;
  box-shadow: 0 0 0 2px var(--logored) !important;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: var(--logored) !important;
  border: 1px solid black !important;
}

.react-datepicker__day:hover:not(.react-datepicker__day--selected) {
  background-color: var(--color-gray-200) !important;
}
